/* DEFAULT CONFIG  start*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    width: 100%;
    height: auto;
}

#homeContainer, #about-usContainer, #contact-usContainer{
    background-image: url("../images/space.jpg");
    background-repeat: repeat-y;
    min-height: 100vh;
    max-height: max-content;
}

#about-usContainer .center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-usContainer #astronauta img{
    margin-top: 50px;
    width: 300px;
    height: 300px;
}

#about-usContainer #texto{
    width: 80%;
    margin-bottom: 30px;
    color: #ffffff;
}

#about-usContainer #texto h1{
    font-size: calc( 2em + 1vw);
    font-weight: 700;
}

#about-usContainer #texto p{
    font-size: calc( 1em + 1vw);
}

#contact-usContainer .center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-usContainer #astronauta{
    width: 400px;
    height: 350px;
}
#contact-usContainer #astronauta img{
    width: 400px;
    height: 400px;
}

#contact-usContainer #formContainer{
    border: 3px solid #7b79d9;
    width: 60%;
    min-width: 320px;
    max-width: 900px;
}

#contact-usContainer input{
    margin: 10px 0;
    height: 40px;
    padding-left: 5px;
    font-size: 1em;
}

#contact-usContainer #name, #lastname{
    display: inline-block;
    width: 50%;
    min-width: 190px;
    max-width: 220px;
}

#contact-usContainer #email{
    display: block;
    width: 50%;
    min-width: 300px;
    max-width: 420px;
}

#contact-usContainer #message{
    margin: 10px 0;
    height: 40px;
    padding-top: 10px;
    padding-left: 8px;
    font-size: 1em;
    display: block;
    width: 100%;
    min-width: 300px;
    max-width: 640px;
}

header{
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

header nav{
    font-size: 20px;
}

footer nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer nav i{
    font-size: 30px;
    color: #ffffff;
}

#footline{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footline > div{
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #ccc;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 50px; 
}

h1,h2,h3{
    color: #ffffff; 
}

#homeContainer, h1{
    font-size: clamp(1.75em, 1em + 3vw 2.5em);
}

a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 20px;
    color: #ffffff;
    font-weight: 600;
}

#homeContainer .container p{
    margin: 10px 20px;
}

/* DEFAULT CONFIG  end*/

@media only screen and (min-width: 705px) {/* pc */
    footer{
        display: none;
    }

    #homeContainer #astronauta{
        float: left;
        margin-left: min(50%, 1000px);
        width: 400px;
        height: 0px;
    }
    
    #homeContainer #astronauta img{
        width: 400px;
        height: 400px;
    }

    #homeContainer #outherspace{
        width: 70%;
        padding-top: 160px;
        padding-left: min(5%, 50px);
    }
    
    #homeContainer #outherspace h1{
        display: block;
        font-size: 70px;
        text-align: left;
        font-weight: 700;
        width: 100%;
        text-shadow: 5px 5px 50px black;
    }

    #homeContainer #outherspace h3{
        font-size: 24px;
        text-align: left;
        font-weight: 700;
        margin-left: 20px;
    }

    #homeContainer #botao{
        margin-top: 60px;
        margin-left: 260px;
        margin-bottom: 60px;
    }

    #homeContainer #botao button{
        border: none;
        width: 140px;
        height: 50px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 14px;
        border-radius: 30px;
        background-color: #ffffff;

    }

    #homeContainer #botao i{
        color: #7b79d9;
    }

    #homeContainer #botao button:hover{
        cursor: pointer;
        background-color: #f5d5e0;
    }

    #homeContainer #articles{
        max-width: 100%;
    }

    #homeContainer #articlesContainer{
        max-width: 1500px;
    }
    
    #homeContainer #articlesContainer h2{
        margin-left: 450px;
        margin-bottom: 20px;
    }

    #homeContainer .container{
        display: inline-block;
        width: min-content;
        margin: 0 20px;
        margin-bottom: 20px;
        background-color: #ffffff;
        border-radius: 20px;
    }
    #homeContainer .container img{
        min-width: 300px;
        max-width: 100%;
        min-height: 200px;
        max-height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }#homeContainer
}

@media only screen and (max-width: 705px) {/* mobile */
    html,body{
        overflow-x: hidden;
        min-width: 300px;
    }

    header{
        display: none;
    }

    #homeContainer #astronauta{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #homeContainer #astronauta img{
        width: 400px;
        height: 400px;
        margin-top: 230px;
        margin-bottom: 60px;
    }

    #homeContainer #outherspace h1{
        font-size: 40px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 60px;
    }

    #homeContainer #outherspace h3{
        display: none;
    }

    #homeContainer #botao{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }

    #homeContainer #botao button{
        border: none;
        width: 140px;
        height: 50px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 14px;
        border-radius: 30px;
        background-color: #ffffff;

    }

    #homeContainer #botao i{
        color: #7b79d9;
    }

    #homeContainer #botao button:hover{
        cursor: pointer;
        background-color: #f5d5e0;
    }

    #homeContainer #articles{
        max-width: 100%;
        text-align: center;
    }

    #homeContainer #articlesContainer{
        max-width: 1500px;
    }
    
    #homeContainer #articlesContainer h2{
        margin-left: 450px;
        margin-bottom: 20px;
    }

    #homeContainer .container{
        display: inline-block;
        width: 100%;
        background-color: #ffffff;
        margin-bottom: 40px;
    }
    #homeContainer .container img{
        min-width: 300px;
        max-width: 100%;
        min-height: 200px;
        max-height: 100%;
    }
}