x'#contact-usContainer .center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-usContainer #astronauta{
    width: 400px;
    height: 350px;
}

#contact-usContainer #astronauta img{
    width: 400px;
    height: 400px;
}

#contact-usContainer .container {
    width: 95%;
    max-width: 900px;
    min-width: 290px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.4);
    padding: 20px;
  }

#contact-usContainer input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #c5b1be;
    background-color: rgba(160, 139, 152,0.6);
    border-radius: 30px;
    box-sizing: border-box;
    resize: vertical;
    color: #ffffff;
  }

  #contact-usContainer textarea::placeholder, #contact-usContainer input::placeholder{
    color: #ffffff;
  }

  #contact-us #subject[type=text]{
    height: 5px;
    border-radius: 1px;
  }
  
  #contact-usContainer label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  #contact-usContainer button{
    background-color: #7b337d;
    color: #ffffff;
    padding: 12px 20px;
    margin-top: 30px;
    height: 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    float: right;
  }
  #contact-usContainer button:hover {
    background-color: #741874;
  }
  
  #contact-usContainer .col-25 {
    float: left;
    width: 25%;
    color: #ffffff;
    margin-top: 6px;
  }
  
  #contact-usContainer .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  #contact-usContainer .row:after {
    content: "";
    display: table;
    clear: both;
  }